.contButton{
    display: block;
    margin-top: 1rem;
    position: relative;
}.bEnviar{
    background: #0E1C36;
    color: #F9FBF2;
    border-radius: 1rem;
    margin-top: 1em;
    padding: 0.6rem;
    width: 15%;
    border-color: #0E1C36;
    position: fixed;
    left: 80%;
    top: 80%;
}

.boton{
    margin: auto;
    background: #C2FCF7;
    width: 70%;
    border-radius: 1rem;
    box-shadow: 10px 5px 5px #57737A;
    position: relative;
    padding: 3rem 1.2rem;
    top: 8rem;
}
.bCrear{
    background: none;
    border: none;
    display: flex;
    margin: auto;
}

.icon{
    width: 2rem;
}