.contConfiguracion{
    position: relative;
    top: 20%;
    width: 65%;
    background: #C2FCF7;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    border-radius: 2rem;
    align-items: center;
    justify-items: center;

}

.imgIcon{
    width: 2.5rem;
}

.contConfiguracion p{
    font-size: 1.5rem;
}
.enlaceC{
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: start;
}

@media only screen and (min-width: 768px){
    .contConfiguracion{
        width: 55%;
        top: 30%;
        padding: 3rem 1.5rem;
    }
    .enlaceC{
        font-size: 2rem;
        margin: 2rem 0;
    }
}

@media only screen and (min-width: 768px){
    .contConfiguracion{
        width: 45%;
    }
}