
form{
    background: #85BDBF;
    width: 70%;
    border-radius: 1rem;
    box-shadow: 10px 5px 5px #57737A;
    position: relative;
    padding: 3rem 1.2rem;
   
}

.formCrear,  .qEjercicio{
    top: 7rem;
    margin: auto;
    background: #C2FCF7;
    margin-top: 2.5rem;
}


.inputT, .diasEjercicios{
    width: 85%;
    font-size: 1rem;
    display: flex;
    margin: auto;
    border-radius: 0.8rem;
    border-color: #D5C28F;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.2rem;
    background: #D5C28F;
    color: #000 !important;

}

.diasEjercicios option{
    color: #000;
}

.reloj{
    display: flex;
    
}

.input{
    width: 85%;
    font-size: 1.2rem;
    display: flex;
    margin: auto;
    border-radius: 0.5rem;
    border-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.8rem;
}

.labelT{
    padding: 0.5rem 0 ;
    font-size: 1.2rem;
    font-weight: 500;
}

.label{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-content: center;
    flex-wrap: wrap;
    padding: 0.5rem 0 ;
}

.botonIngresar{
    width: 88%;
    display: flex;
    margin: auto;
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
    color:#fff ;
    background: #176087;
    border-color: #176087;
    border-radius: 0.5rem;
    box-shadow: none;
}



@media only screen and (min-width: 768px){
    form{
        width: 50%;
        
        
    }
  
    .label {
        font-size: 1.5rem;
    }
    .input{
        font-size: 2rem;
    }

    .botonIngresar{
        font-size: 1.5rem;
        width: 86%;
    }
   
}


@media only screen and (min-width: 1600px){
    form{
        width: 40%;
    }
    .label {
        font-size: 2rem;
    }
    .input{
        font-size: 2.2rem;
    }

    .botonIngresar{
        font-size: 2rem;
    }
}