.navBar{
    background: #57737A;
    width: 100%;
    height: 5rem;
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 0;
}

.logo{
    width: 3rem;
    margin: 1rem;
}

.nombre{
    font-size: 1.2rem;
    margin: auto;
}

.icon{
    width: 3rem;
    height: 3rem;
    position: relative;
    right: 1.5rem;
    top: 1rem;
}

@media only screen and (min-width: 768px){
    .logo{
        padding-left: 1.5rem;
        
    }
    .nombre{
        font-size: 2rem;
        font-weight: 500;
    }
}

@media only screen and (min-width: 1600px){
    .nombre{
        font-size: 2.5rem;
        
    }
}