
.contPerfil{
    display: flex;
    flex-direction: row;
    width: 80%;
    position: relative;
    left: 15%;
    top: 8rem;
    
}

.imgPerfil{
    width: 6rem;
}

.namePerfil{
    color: #000;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1rem;
}